<h1>About the app</h1>
<h3 class="bg-info text-danger">In this project, I utilized two APIs: OpenAI provided by professor, and Cat API
  sourced online. <br>The OpenAI-powered chatbot is programmed to respond to any question in a manner reminiscent of a
  five-year-old's language style. As for the Cat API, it allows users to browse a collection of cat pictures online and
  save their favorites to SHOW page for later viewing.</h3>

<a href="https://thecatapi.com/">
  <h5>Cat Api key request</h5>
</a>