<div class="cat">
    <h1> <%= user.username %></h1>
    <a href="<%=`/cat/${imageUrl._id}/add` %>"><button>
            <h1>Like</h1>
        </button></a>
    <a href="/cat"><button>
            <h1>Dislike</h1>
        </button></a>
    <!-- <a href="/cat/show"><button>SHOW</button></a> -->
    <img src=<%=imageUrl.url%>>
</div>